[Unit]
Description=Sistema gestor de horarios
After=mysql.service
Requires=mysql.service

[Service]
User=david

WorkingDirectory=/home/ubuntu/sgh_servidor_v2
ExecStart=/home/ubuntu/sgh_servidor_v2/sgh_servidor.sh

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
